/current_target/
/compose_state_backups/
/k3s_state_backups/
/VARS.sh
/VARS.*.sh
/VARS.env
/VARS.*.env
/state/
/vars/
/temp
/secrets/
targets/*/compose/compose.private.yaml
~*
**/__pycache__
.venv/
/cache/
/.stfolder/
/.stignore
/.backup-state-Infra_Compose_State.json
# Syncthing temp files
**/.syncthing*
