/current_target/
/compose_state_backups/
/k3s_state_backups/
/VARS.sh
/VARS.*.sh
/state/
/vars/
/temp
/secrets/
~*
**/__pycache__
.venv/
.cookies.json
/cache/
/.stfolder/
/.stignore
/.backup-state-Infra_Compose_State.json