/current_target/
/compose_state_backups/
/k3s_state_backups/
/state/
/vars/
/temp
/config/
targets/*/compose/compose.private.yaml
targets/*/compose/.env
~*
**/__pycache__
.venv/
/cache/
/.stfolder/
/.stignore
/.backup-state-Infra_Compose_State.json
# Syncthing temp files
**/.syncthing*
